{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "macros",
    ["module-resolver", {
      "alias": {
        "@rover": "./src/"
      }
    }]
  ]
}
